# Library dependencies for the python code.  You need to install these with
# `pip install -r requirements.txt` before you can run this.

#### ESSENTIAL LIBRARIES ####

keras==2.2.4
tensorflow>=1.15.2
scikit-learn==0.20.3
numpy


#### Using Local Server ####
flask

#### Using query interpreter ####
itertools
sentencepiece
soyspacing



#### Using Tree Maker ####
csv
json
collections


### Using Web Crawling ####
bs4
requests
time
re
urllib
selenium
sqlite3


